h1 {
  font-size: 25pt;
  color: red;
  text-align: center;
  font-weight: bold;
}
h2 {
  font-size: 20pt;
  color: aqua;
  font-weight: bold;
}
table {
  width:100%;
  border-collapse:collapse;
}
td {
  border: 2px solid;
  font-size: 14pt;
  text-align: center;  
  padding-bottom:5px;
  padding-top:5px;
}
th {
  border: 2px solid;
  font-size:17pt;
  text-align:center;
  font-weight:bold;
  padding-bottom:5px;
  padding-top:5px;
}
.titlelist {
 color: blue;
  font-size: 17pt;
  font-weight: bold;
}
.contextinlist {
  color: black;
  font-size: 15pt;
}
html, body {
  height:100%;
}
.room{
  display:flex;
  height:100vh;
  flex-direction:column;
  }
.header{
  flex:10%;
 background-color:grey;
}
.menu{
  flex:5%;
  background-color:black;
  display:flex;
}
.menu a{
  padding:15px 20px;
}
.context{
  flex:75%;
  background-color:white;
}
.footer{
  flex:10%;
  background-color:grey;
}
.context iframe{
  flex:1;
  border:none;
  width:100%;
  height:100%;
}
